<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Company</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- header/nav -->
    <header class="container">
      <p id="logo">My Company</p>
      <nav>
        <ul>
          <li>About</li>
          <li>Services</li>
          <li>Contact</li>
          <li>Login</li>
          <li><a href="#">Signup</a></li>
        </ul>
      </nav>
    </header>
    <!--banner/hero-->
    <div id="banner">
      <div class="container">
        <p>banner</p>
      </div>
    </div>
    <!-- services -->
    <div id="services" class="container">
      <h2>Services</h2>
      <!-- services card -->
      <div class="services-card">
        <i class="fa-solid fa-bell-concierge"></i>
        <h3>Service 1</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo tempore
          corrupti, officia corporis provident hic quisquam laboriosam deserunt
          consequatur? Quo voluptatibus suscipit iste dolorem id!
        </p>
        <a href="a"> Learn More &rarr;</a>
      </div>
      <!-- services card -->
      <div class="services-card">
        <i class="fa-solid fa-bell-concierge"></i>
        <h3>Service 2</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo tempore
          corrupti, officia corporis provident hic quisquam laboriosam deserunt
          consequatur? Quo voluptatibus suscipit iste dolorem id!
        </p>
        <a href="a"> Learn More &rarr;</a>
      </div>
      <!-- services card -->
      <div class="services-card">
        <i class="fa-solid fa-bell-concierge"></i>
        <h3>Service 3</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo tempore
          corrupti, officia corporis provident hic quisquam laboriosam deserunt
          consequatur? Quo voluptatibus suscipit iste dolorem id!
        </p>
        <a href="a"> Learn More &rarr;</a>
      </div>
      <!-- services card -->
      <div class="services-card">
        <i class="fa-solid fa-bell-concierge"></i>
        <h3>Service 4</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo tempore
          corrupti, officia corporis provident hic quisquam laboriosam deserunt
          consequatur? Quo voluptatibus suscipit iste dolorem id!
        </p>
        <a href="a"> Learn More &rarr;</a>
      </div>
      <!-- services card -->
      <div class="services-card">
        <i class="fa-solid fa-bell-concierge"></i>
        <h3>Service 5</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo tempore
          corrupti, officia corporis provident hic quisquam laboriosam deserunt
          consequatur? Quo voluptatibus suscipit iste dolorem id!
        </p>
        <a href="a"> Learn More &rarr;</a>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/d6df1656ff.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
